# Build specific or user specific files we don't want in source control
bin/
bld/
*.jsproj.user

# Used by the VS project system to mirror the file system changes
changelist.json

# Cordova-generated folders we don't want in source control (they are recreated at build)
platforms/
plugins/

# Framework files we can't redistribute, downloaded on first build.
www/scripts/frameworks/
www/css/ui-dark.css
www/css/ui-light.css

# No need for the www/scripts folder since we build the contents from TypeScript
www/scripts/