<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cordova.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="win" />
  <package id="winjs.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="win" />
  <package id="azure-mobile-services-client.TypeScript.DefinitelyTyped" version="0.8.6" targetFramework="win" />
</packages>