body {
}

button {
    margin:3px;
    border: none;
    border-radius:0px;
    -webkit-border-radius:0px;
    height: 30px;
    width: 275px;
    background-color:lavender;
}

#downloadFile {
    background-color:lightgreen;
}

#downloadImage {
    background-color:lightgrey;
}
