<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-ms-azure-mobile-apps"
      version="2.0.0-beta6">
    <name>Azure Mobile Apps</name>
    <description>This library enables you to develop scalable and secure cordova mobile apps hosted in Microsoft Azure. You can incorporate structured storage, user authentication and push notifications in minutes. For more information, check out http://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-value-prop-preview</description>
    <license>Apache 2.0</license>
    <keywords>azure, services, zumo, cloud</keywords>
    <repo>https://github.com/azure/azure-mobile-apps-cordova-client</repo>
    <issue>https://github.com/azure/azure-mobile-apps-js-client/issues</issue>

    <dependency id="cordova-plugin-inappbrowser"/>
    <dependency id="cordova-sqlite-storage"/>

    <platform name="windows8">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>

    <platform name="windows">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>

    <platform name="wp8">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>

    <platform name="ios">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>

    <platform name="android">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>

    <platform name="browser">
        <js-module src="www/MobileServices.Cordova.Ext.js" name="AzureMobileServices.Ext">
            <runs />
        </js-module>
        <js-module src="www/MobileServices.Cordova.js" name="AzureMobileServices">
            <clobbers target="WindowsAzure" />
        </js-module>
    </platform>
</plugin>
